.main-footer {
  background-color: #e4c4a1; /* Tu color beige de fondo */
  padding: 60px 20px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-brand-name { 
  font-size: 1.5rem; 
  letter-spacing: 1px; 
  font-weight: 800;
  color: #000;
}

.footer-tagline {
  margin-bottom: 15px;
  font-size: 0.95rem;
}

/* Redes Sociales con Iconos */
.footer-socials {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #333;
  transition: transform 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #bc9c7a; /* Un tono más oscuro del beige para la línea */
  text-align: center;
  font-size: 0.85rem;
}