/* ESTILOS ACTION BOX */

.actions-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
  flex-wrap: wrap;
  margin: auto;
}

/* Cada caja */
.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.action-box:hover {
  transform: translateY(-5px);
}

/* El contenedor de la imagen para que todas midan lo mismo */
.action-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #e4c4a1;
}

.action-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Titulo */
.action-title {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1a1a1a;
}