/* ESTILOS ACTION BOX */

.actions-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
  flex-wrap: wrap;
  margin: auto;
}

/* Cada caja */
.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.action-box:hover {
  transform: translateY(-5px);
}

/* El contenedor de la imagen para que todas midan lo mismo */
.action-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #e4c4a1;
}

.action-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Titulo */
.action-title {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1a1a1a;
}

/* --- RESPONSIVE ACTION BOX --- */

/* Tablets (iPad, etc.) */
@media (max-width: 992px) {
  .actions-container {
    width: 90%;
    gap: 30px;
  }

  .action-box {
    width: 45%;
  }

  .action-title {
    font-size: 1.5rem;
  }
}

/* Móviles (Pantallas pequeñas) */
@media (max-width: 700px) {
  .actions-container {
    width: 95%;
    padding: 20px 0;
    gap: 25px;
  }

  .action-box {
    width: 100%;
    max-width: 350px;
  }

  .action-image-container {
    height: 180px;
  }

  .action-title {
    font-size: 1.3rem;
    margin-top: 10px;
  }
}