/* ESTILOS IMAGEN HERO */
.imgHero {
  background-color: #000;
  max-width: 80%;
  height: 550px;
  margin: auto;
  margin-top: 30px;
}

.imgHero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;    
}

.imgHero img{
  width: '100%';
  height: '100%'; 
  object-fit: 'cover';
}